Importing the Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

Access the file uploaded in the Google Drive

In [2]:
#Uploaded the file to google drive and access it
pollution_file = "https://drive.google.com/uc?id=1YzDbDOTcEWYvCwehmMUEK5LQjohlV5Rf"
pollution_df = pd.read_csv(pollution_file)

# Display first few rows
pollution_df.head()

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good
2,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate
3,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good
4,France,Punaauia,22,Good,0,Good,22,Good,0,Good,6,Good

In [3]:
pollution_df.describe()

,AQI Value,CO AQI Value,Ozone AQI Value,NO2 AQI Value,PM2.5 AQI Value
count,23463.000000,23463.000000,23463.000000,23463.000000,23463.000000
mean,72.010868,1.368367,35.193709,3.063334,68.519755
std,56.055220,1.832064,28.098723,5.254108,54.796443
min,6.000000,0.000000,0.000000,0.000000,0.000000
25%,39.000000,1.000000,21.000000,0.000000,35.000000
50%,55.000000,1.000000,31.000000,1.000000,54.000000
75%,79.000000,1.000000,40.000000,4.000000,79.000000
max,500.000000,133.000000,235.000000,91.000000,500.000000

Make new data frame including only US data

In [4]:
us_df = pollution_df

In [5]:
#Analysing data which has United States as the country
non_usa = []


#Loop through each row and checks the country. If it is not the US, it will remove that row from the data.

for country in pollution_df.index:
  if pollution_df["Country"].iloc[country] != "United States of America":
    non_usa.append(country)

In [6]:
#removing the rows that are not the US
us_df = us_df.drop(non_usa).reset_index().drop(["index"], axis=1)

In [8]:
us_df.head()

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
0,United States of America,Punta Gorda,54,Moderate,1,Good,14,Good,11,Good,54,Moderate
1,United States of America,Phoenix,72,Moderate,1,Good,4,Good,23,Good,72,Moderate
2,United States of America,Pontiac,77,Moderate,2,Good,22,Good,15,Good,77,Moderate
3,United States of America,Port Neches,34,Good,1,Good,19,Good,7,Good,34,Good
4,United States of America,Portales,77,Moderate,1,Good,34,Good,0,Good,77,Moderate